---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Main from '../../../layouts/Main.astro';
import DifficultyBadge from '../../../components/DifficultyBadge';
import Hints from '../../../components/Hints';
import Solution from '../../../components/Solution';
export const prerender = true;

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const riddles = await getCollection('riddles');
  return riddles.map((riddle) => ({
    params: { riddle: riddle.slug, lang: riddle.data.lang },
    props: { riddle },
  }));
}

// 2. For your template, you can get the riddle directly from the prop
const { riddle } = Astro.props;
const { Content } = await riddle.render();
const lang = Astro.params.lang as 'en' | 'it';
---

<Main>
  <article>
    <div class="sm:border border-transparent">
      <div
        class="sm:flex sm:justify-between sm:items-start sm:p-4 sm:border-b border-transparent"
      >
        <h1
          class="text-5xl font-bold font-sans max-sm:mb-4 prose dark:prose-invert"
        >
          {riddle?.data.title}
        </h1>
        <div class="max-sm:my-4">
          <DifficultyBadge difficulty={riddle!.data.difficulty} />
        </div>
      </div>
      <Image
        src={riddle!.data.image}
        width={400}
        height={400}
        alt={`${riddle!.data.title} cover`}
        class="w-full sm:p-4 dark:invert"
      />
    </div>
    <div class="prose dark:prose-invert mt-12 max-w-full sm:p-4">
      <Content />

      <Hints texts={riddle!.data.hints} lang={lang} client:load />
      <Solution text={riddle.data.solution} lang={lang} client:load />
    </div>
  </article>
</Main>
