---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { getCollection } from 'astro:content';

const allRiddles = await getCollection('riddles');
console.log(allRiddles);
---

<Layout title="Brainfucker">
  <main>
    <div class="bg-white py-12 sm:py-12">
      <div class="mx-auto px-6 lg:px-8">
        <div class="mx-auto max-w-2xl">
          <Header />
          <div
            class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16"
          >
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
