---
import ThemeSelector from './ThemeSelector';
---

<div class="relative">
  <h1 class="text-3xl font-bold tracking-tight sm:text-8xl text-red-500">
    Brainfucker
  </h1>
  <!-- <p class="mt-2 text-lg leading-8 text-gray-600 dark:text-gray-400">
    Just people stories
  </p> -->
  <div class="absolute top-0 right-0">
    <ThemeSelector client:only />
  </div>
</div>

<style>
  h1 {
    font-family: 'Rubik';
  }
</style>
