---
import ThemeSelector from './ThemeSelector';
---

<div class="relative">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
    Brainfucker
  </h1>
  <p class="mt-2 text-lg leading-8 text-gray-600">Just people stories</p>
  <div class="absolute top-0 right-0 text-gray-900">
    <ThemeSelector client:only />
  </div>
</div>
