---
import { getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import DifficultyBadge from './DifficultyBadge.tsx';

const { slug } = Astro.props;

const riddle = await getEntry('riddles', slug);
---

<a href={`/${riddle?.data.lang}/${riddle?.slug}`}>
  <article
    class="hover:bg-gray-100 dark:hover:bg-gray-950 rounded-xl sm:border border-gray-200 dark:border-gray-800"
  >
    <div
      class="sm:flex sm:justify-between sm:items-start sm:p-4 border-gray-200 dark:border-gray-800 sm:border-b"
    >
      <h1 class="text-5xl font-bold font-sans prose dark:prose-invert">
        {riddle?.data.title}
      </h1>
      <div class="max-sm:my-4">
        <DifficultyBadge difficulty={riddle!.data.difficulty} />
      </div>
    </div>
    <Image
      src={riddle!.data.image}
      width={400}
      height={400}
      alt={`${riddle!.data.title} cover`}
      class="w-full dark:invert sm:p-4"
    />
  </article>
</a>
