<article class="flex max-w-xl flex-col items-start justify-between">
  <div class="relative mt-8 flex items-center gap-x-4">
    <img
      src="https://www.hrlact.org/wp-content/uploads/2020/12/generic-user-icon.jpg"
      alt=""
      class="h-10 w-10 rounded-full bg-gray-50"
    />
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a href="#">
          <span class="absolute inset-0"></span>
          Author
        </a>
      </p>
      <time datetime="2020-03-16" class="text-gray-500"> Date</time>
    </div>
  </div>
  <div class="flex items-center gap-x-4 text-xs"></div>
  <div class="group relative">
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href="#">
        <span class="absolute inset-0"></span>
        Title
      </a>
    </h3>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">text</p>
  </div>
</article>
