---
import { getCollection } from 'astro:content';
import Main from '../../layouts/Main.astro';
import { Image } from 'astro:assets';
import DifficultyBadge from '../../components/DifficultyBadge';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const riddles = await getCollection('riddles');
  return riddles.map((riddle) => ({
    params: { riddle: riddle.slug, lang: riddle.data.lang },
    props: { riddle },
  }));
}
// 2. For your template, you can get the riddle directly from the prop
const { riddle } = Astro.props;
const { Content } = await riddle.render();
---

<Main>
  <article>
    <div class="border border-transparent">
      <div
        class="flex justify-between items-start p-4 border-b border-transparent"
      >
        <h1 class="text-5xl font-bold">{riddle?.data.title}</h1>
        <DifficultyBadge difficulty={riddle!.data.difficulty} />
      </div>
      <Image
        src={riddle!.data.image}
        width={400}
        height={400}
        alt={`${riddle!.data.title} cover`}
        class="w-full p-4 dark:invert"
      />
    </div>
    <div class="prose dark:invert mt-12">
      <Content />
    </div>
  </article>
</Main>

<style>
  h2 {
    color: red;
  }
</style>
