---
import Main from '../../layouts/Main.astro';
import { supportedLanguages } from '../../lib/lang';
import { getCollection, getEntry } from 'astro:content';
import wall from '../../assets/img/wall.svg';
import RiddlePreview from '../../components/RiddlePreview.astro';

export function getStaticPaths() {
  return supportedLanguages.map(({ id }) => ({ params: { lang: id } }));
}

const { lang } = Astro.params;

const allRiddles = (await getCollection('riddles')).filter(
  (riddle) => riddle.data.lang === lang
);
---

<Main>
  <div class="space-y-12 flex flex-col">
    {allRiddles.map((riddle) => <RiddlePreview slug={riddle.slug} />)}
  </div>
</Main>
