---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <ViewTransitions />
  <body class="overflow-y-scroll">
    <slot />
  </body>

  <style is:global>
    @font-face {
      font-family: 'Rubik';
      src: url('/fonts/Rubik.ttf');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    /* Make the scrollbar always visible */
    ::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar */
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; /* Color of the handle */
      border-radius: 10px; /* Rounded corners */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color of the handle when hovered */
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; /* Color of the track */
    }

    /* Remove default track in Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: #888 #f1f1f1;
    }
  </style>
</html>
